# Nodemailer Credentials Config Template
# Rename this file to .env and fill in your actual credentials.
# Do NOT commit the .env file to Git.

EMAIL_USER=manjunathkaids23@jkkmct.edu.in
EMAIL_PASS=htlz issn wgge jdrk
